#logoBar {
  /* width: 30vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  display: flex;
  background-color: rgb(249, 235, 237);
  color: rgb(27, 1, 84);
  font-family: monospace;
  flex-direction: column;
  margin-right: 6%;
  margin-left: 6%;
}

img {
  max-width: 40%;
  max-height: 40%;
}
p {
  font-size: large;
}
.photos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  #logoBar {
    display: flex;
    width: 100%;
    height: 20vh;
    margin-bottom: 8vh;
    margin-top: 8vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  body {
    display: flex;
    background-color: rgb(249, 235, 237);
    color: rgb(27, 1, 84);
    font-family: monospace;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
